{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheet %} {{ encore_entry_link_tags('register') }}
		{% endblock %}

		{% block javascripts %} {{ encore_entry_script_tags('register') }}
		{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 font-weight-bolder  font-size: 14px">
            Bonjour {{ app.user.username }}, 
        </div>
    {% endif %}

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://static.vecteezy.com/ti/vecteur-libre/p1/4244697-illustration-de-la-technologie-d-intelligence-artificielle-analyse-des-programmes-en-affichant-des-donnees-statistiques-de-apps-vector-design-for-landing-page-web-website-mobile-apps-poster-flyer-ui-ux" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="inputEmail"  value="{{ last_username }}" name="email" class="form-control form-control-lg"
              placeholder="Adresse mail" autocomplete="email" required autofocus/>
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="inputPassword" name="password" class="form-control form-control-lg"
              placeholder="Mot de passe" autocomplete="current-password" required/>
            
          </div>
             <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

          <div class="d-flex justify-content-between align-items-center">
            <a href="#!" class="text-body">Mot de passe oublié?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Connexion</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Pas encore inscrit? <a href="{{path ("app_register")}}"
                class="link-primary text-decoration-non">Register</a></p>
          </div>

        
      </div>
    </div>
  </div>
  
    

    
</section>
    
</form>
{% endblock %}