{% extends 'base.html.twig' %}


{% block title %}Accueil | FeedyTech{% endblock %}

{% block stylesheet %} {{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %} {{ encore_entry_script_tags('app') }}
		{% endblock %}

{% block body %}

<div class="container pageHome ">  

 


  <main class="mainhome">


    <div class="container" id="titre"> 

            <p class="presentation">"Toutes les dernières infos de la tech en temps réel"</p>
        

    </div>
     <!--nouvel essai -->
        
   
    <div id="but" class="w3-row" >

          
            <a class="btn btn-lg" data-toggle="collapse" href="{{ path("app_register")}}" role="button" aria-expanded="false" aria-controls="collapseExample" id="styled">Inscription</a>
            
            <a class="btn btn-lg" type="button" data-toggle="collapse" href="{{ path("app_login")}}" aria-expanded="false" aria-controls="collapseExample" id="styled">Deja membre</a>

    </div>
    
  
        <div id="articles" class="container  ">
           <div class="row mt-5">
           
         
         
             <div class="col-md-12 mt-5" id="p1"> 

                <a id="a">Suivre les innovations ! Listez vos favoris.</a>


              <div class="container" id="paragraphe">
            
                <div class="montage">

                    <img src="https://media.istockphoto.com/vectors/web-design-development-concept-vector-illustration-vector-id1169592004?k=20&m=1169592004&s=612x612&w=0&h=A3WoUqAiS1G66EV3qPcGkBLTRmR9ddRRrMg_omB1rR0=" alt="café au bureau" id="café">

                </div>

                 <p id="ps">Le monde de la tech dans son intégralité, est en phase de <strong>développement permanent</strong>. Il est donc essentiel de suivre au plus prêt les <strong>plus récentes innovations du milieux</strong>. qu'il s'agisse de nouvelles <strong>syntaxes</strong>, de nouvelles  <strong>méthodes</strong>, de meilleurs principes de fonctionnement, d'arrivée de <strong>nouveaux languages</strong>. il faut aussi<strong> s'informer des evolutions </strong>du matèriel car ce sont nos supports et il faut savoir s'adapter et en tirer  le meilleur parti afin d'améliorer nos performances.  Cette veille permet aux développeurs de pouvoir continuer de proposer <strong>des solutions adaptées et dans l’air du temps</strong>.La recherche de l'optimisation des compétences doit être constante. 
                 C'est dans ce but que nous vous invitons à <strong>suivre en permanence l'évolution des metiers de la tech</strong>. Vous pourrez ici lire et voir en direct, les toutes dernières informations provenant des sites les plus réputés du milieu et cela d'un simple <a href="{{ path("app_register")}}">click!</a>
                  </p>

              </div>

            </div>



          <div class=" col-md-12 mt-2" id="p2">

            

            <div class="container" id="paragraphe">

              <div class="montage">

                  <img src="https://media.istockphoto.com/vectors/businessman-working-on-computer-concept-and-business-people-analytics-vector-id1285912335?k=20&m=1285912335&s=612x612&w=0&h=eyhRFg0kTwfwqU7XGFjgfGaufYPlFMBVtAJTNXrljI0="  alt="Sample image" id="café">
                 
              </div>

                  <p id="ps">Nous proposons ici, un panel des <strong>sites les plus en vogues et réputés de la toile</strong>. Cependant nous disposons également de très nombreuses autres références plus  spécialisées, parfois plus pointues ou plus avant-gardistes. Il est donc possible  de <strong>créer sa propre liste de favoris</strong> , afin d'y accéder plus rapidement,ou de survoler leurs derniers articles<br>.
                   Cette liste peut bien sur être <strong>changée </strong>en son intégralité, ou être <strong>mise à jour</strong> en fonction des besoins du momment. Cela permet aux développeurs de pouvoir continuer de proposer des solutions adaptées et dans l’air du temps.La <strong>recherche de l'optimisation des compétences</strong> doit être constante.<br>
                    Ce ne sont bien sur pas seulement les seuls avantages que vous trouverez ici. Vous pourrez également <strong>gérer vos alertes </strong>, optimiser vos besoins, choisir vos catégories.La <strong> veille informatique est nécessaire</strong> et fait partie intégrante du travail des diverses branches de la tech. Le partage des infos et des solutions sont nécessaire afin d'assurer la continuité du fonctionnement permanent du web. Aussi pourez-vous avoir un acces permanent vias vos réseaux sociaux.<br>
                    Alors surfons ensemble,  mais tout d'abord, allons visiter notre site. Plus que quelques <a href="{{ path("app_register")}}"> click!</a> </p>
                  
            </div>   

          </div>
          
        </div> 
  
    </div> 
                    
    </div>
        <hr>

           <div id="deroule" class="container">

           <div id="carousel"></div>

        
   </div>
  


 
  </main>

  
</div>
{% endblock %}

