{#
  

  <div class="containermenu " id="menuX" >
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <a href=" {{path("home")}} "> <div class="photo-profil">
	<img src="./image/logo_small.png" alt="">
  </div></a>
 
  <button class="dropdown-btn">Mes flux
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
  
  </div>
  <a href=" {{path("app_logout")}} " class="style_hover">Déconnexion</a>
</div> #}
<div class="sidenav bg-light">
  <div class="flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <div class="photo-profil"><img src="./image/logo_small.png" alt="logo FeedyTech"></div>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        Mes flux
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      
            {% for lien in menu %}
              <li><a href="espace/follow.html.twig?{{lien}}" class="link-dark rounded">{{lien}}</a></li>
            {% endfor %}

          </ul>
        </div>
      </li>
      <li><a href=" {{path("app_logout")}} " class="link-dark rounded">Deconnexion</a></li>
    </ul>
  </div>
</div>