 <html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            {{ encore_entry_link_tags('app') }} 
           
        {% endblock %}
    
     {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
      
      <header>
      <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="../image/logo_small.png" class="w-50 h-5 m-auto" alt="logo de feedytech" id="logo"
          height="15"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Deconnexion</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
     
      <a class="nav-item" href="{{path ("home")}}"class="btn btn-primary px-3 me-2">Accueil</a>
      <a class="nav-item" href="{{path ("app_login")}}" class="btn btn-primary me-2">Connexion</a>
      <a class="nav-item" href="{{path ("app_logout")}}"class="btn btn-primary me-2">Deconnexion</a> 

      <!-- Notifications -->
      <div class="dropdown">
      
          
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="{{path ("home")}}"class="btn btn-primary px-3 me-2">Accueil</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{path ("app_login")}}" class="btn btn-primary me-2">Connexion</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{path ("app_logout")}}"class="btn btn-primary me-2">Deconnexion</a> 
          </li>
        </ul>
      </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
      
      
      
      
      
      
      
      
      
      
      
      </header>
          

            
        {% endblock %}
  </div>
    </div>

    </body>
</html>

  