{#
  

  <div class="containermenu " id="menuX" >
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <a href=" {{path("home")}} "> <div class="photo-profil">
	<img src="./image/logo_small.png" alt="">
  </div></a>
 
  <button class="dropdown-btn">Mes flux
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
  
  </div>
  <a href=" {{path("app_logout")}} " class="style_hover">Déconnexion</a>
</div> #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            {{ encore_entry_link_tags('espace') }} 
           
        {% endblock %}
    
     {% block javascripts %}
            {{ encore_entry_script_tags('espace') }}
      
 <div class="sidenav bg-light">
  
    <a href="{{path ("home")}}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <div class="photo-profil"><img src="./image/logo_small.png" alt="logo FeedyTech"></div>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        Mes flux
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      
            {% for lien in menu %}
              <li><a href="espace/follow.html.twig?{{lien}}" class="link-dark rounded">{{lien}}</a></li>
            {% endfor %}

          </ul>
        </div>
      </li>
      <li><a href=" {{path("app_logout")}} " class="link-dark rounded">Deconnexion</a></li>
    </ul>
  </div>
</div>
            
                
           
        </div>
        {% endblock %}
  </div>
    </div>

    </body>
</html>