<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="{{path ("home")}}">
			<img src="../image/logo_small.png" class="w-50 h-3 m-auto logo-nav" alt="logo de feedytech" ></a>
		</a>
		<button class="navbar-toggler btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon text-white"></span>
		</button>
		<div class="collapse navbar-collapse text-white" >
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="liens">	
				<li class="nav-item mr-1">
					<a href="{{path ("home")}}" class="btn px-3 me-2 nav-link text-white ">Accueil</a>
				</li>
				{% if is_granted("ROLE_USER") %}
				<li class="nav-item mr-1">
					<a href="{{path ("app_logout")}}" class="btn me-2 nav-link text-white ">Deconnexion</a>
				</li>
				{% else %}
				<li class="nav-item mr-1">
					<a href="{{path ("app_login")}}" class="btn me-2 nav-link text-white ">Connexion</a>
				</li>
				{% endif %}
			</ul>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarCollapse">
				<li>
					<a class="dropdown-item text-white " href="{{path ("home")}}">Accueil</a>
				</li>
				<li>
					<a class="dropdown-item text-white " href="{{path ("app_login")}}">Connexion</a>
				</li>
				<li>
					<a class="dropdown-item text-white " href="{{path ("app_login")}}">Deconnexion</a>
				</li>
				<li><hr class="dropdown-divider"></li>
			</ul>
		</div>
	<!--/.nav-collapse -->
	</div>
</nav>
