<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Mon espace | FeedyTech{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheet %} {{ encore_entry_link_tags('espace') }}
        
		{% endblock %}

		{% block javascripts %} {{ encore_entry_script_tags('espace') }}
        
		{% endblock %}
		
	</head>

  	<body>
   		<div class="container ">

		    <aside>
	  			{% include "_menu_left.html.twig" %}
			</aside>
			<div class="menu">
			{% include "_nav_espace.html.twig" %}
			</div>

			{% set url = ""%}
			{% block body %} 

			<h1 class="titre_follow">Tes dernières infos</h1>
			{% if news is defined %}
				{% for new in news %}
					{{new|raw}}
				{% endfor %}
			{% endif %}

			<hr id="ajouter" class="mt-5">
			<div class="hauteur mt-5 pt-5">
			<h2 >Ici découvre des nouveaux flux !</h2>
			

			<form method="GET" action="/espace/#ajouter" class="d-flex">
			
				<input type="text" class="form-control " name="url" placeholder="Tape l'url du site que tu souhaite suivre ici. Exemple : https://www.developpez.com/" value="{{(url_ajout ?? url)}}">
			
				<button type="submit" class="btn btn-outline-success "><i class="fas fa-search"></i></button>
				
				<a href=" {{path("espace_effacer_recherche")}} " class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>

			</form>
			{% include "_message.html.twig" %}
			{# Si l'utilisateur veut ajouter le flux à sa liste #}
			{% if form is defined %}
			<div class="alert alert-success form-control mt-3">
			<h3>Ajouter un flux à ma liste</h3>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn styled w-25 mt-3">{{ button_label|default('Est-ce bien ce lien que tu veux ajouter ?') }}</button>
				{{ form_end(form) }}
			</div>
			
				{{flux|raw}}

			{% endif %}

			{# Si l'utilisateur affiche le flux le bouton ajouter apparait #}
			<div>
			{% if flux %}
				<form method="GET" action="/espace/#ajouter">
					<input type="hidden" name="ajout_url" value="{{(url_ajout ?? url)}}">
					<button type="submit" class="btn btn-success w-100">Ajouter ce flux à ma liste </button> 
				</form>
				{{flux|raw}}
			{% else %}
				<p class="mt-3"> FeedyTech t'accompagne dans ta veille <i class="far fa-smile-wink"></i></p>
			{% endif %}
			
		
		
			{% endblock %}
			</div>
		</div>
	</body>
</html>